gluoncv>=0.10.5
matplotlib>=3.5.3
mxnet>=1.9.1
numpy>=1.17.4
opencv_python>=4.6.0.66
Pillow>=9.3.0
setuptools>=45.2.0
torch>=1.13.0
torchvision>=0.14.0
rst2pdf>=0.99
sphinxcontrib-napoleon>=0.7
sphinx_rtd_theme>=1.1.0
